.header {
  padding: 10px;
  width: calc(100% - 20px);
  display: flex;
  justify-content: space-between;
}

.quiz-list {
  padding: 10px;
}

.quiz-card {
  border-radius: 7px;
  padding: 10px;
  outline: 1px solid #2e8cbf;
  margin-bottom: 8px;
  .quiz-actions {
    display: flex;
    margin-top: 10px;
    & > button:not(:first-of-type) {
      margin-left: 7px;
    }
  }
}

.quiz-form {
  padding: 0 10px;
  & > div {
    margin: 10px 0;
  }
  .qs-type, .qs-marks, .qs-title {
    margin: 8px 0;
  }
  .qs-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & > select {
      display: block;
    }
  }
  .qs-title > input {
    width: 100%;
    box-sizing: border-box;
    height: 36px;
  }
  .qs-add-option {
    margin-bottom: 5px;
  }
  .qs-option {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
