<div class="screen">
  <div class="navbar">
    <div class="logo">YourSchoolHere | {{schoolInfo['schoolName']}}</div>
    <div class="links">
      <div class="link">Profile</div>
      <div class="link" (click)="logout()">Logout</div>
    </div>
  </div>
  <div *ngIf="selectedCourse==''; else courseSection" style="display: flex;">
    <div style="flex-grow: 4; display: flex;">
      <div class="course-card" *ngFor="let course of courses" (click)="selectCourse(course['class_id'])">
        <div>{{course['name']}} {{course["course_id"]}}</div>
      </div>
    </div>
    <div style="flex-grow: 1;">General Announcements</div>
  </div>
  <ng-template #courseSection>
    <div>
      <div style="padding: 10px 15px;">Class: {{user.course.class_id}}</div>
      <div style="display: flex;">
        <div style="width: 20%;">
          <div class="tab-links" (click)="gotoSection('contents')">Contents</div>
          <div class="tab-links" (click)="gotoSection('quizzes')">Quizzes</div>
          <div class="tab-links" (click)="gotoSection('announcements')">Announcements</div>
        </div>
        <div style="width: 80%;">
          <ng-container *ngIf="subSection=='contents'">
            <app-contents></app-contents>
          </ng-container>
          <ng-container *ngIf="subSection=='quizzes'">
            <app-quizzes></app-quizzes>
          </ng-container>
          <ng-container *ngIf="subSection=='announcements'">
            <app-announcements></app-announcements>
          </ng-container>
        </div>
      </div>
    </div>
  </ng-template>
</div>
