body {
  margin: 0;
  padding: 0;
  * {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}

.screen {
  height: 100vh;
  width: 100vw;
}

.full-width-height {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.header {
  padding: 10px;
  width: calc(100% - 20px);
  min-height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center-div-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 6px 10px 8px;
  border-radius: 5px;
  width: fit-content;
  cursor: pointer;
  border: none;
}

button.primary {
  background-color: #2e8cbf;
  color: white;
}

button.danger {
  background-color: #d62f27;
  color: white;
}

button.no-bkgrnd {
  background-color: rgba(0, 0, 0, 0);
  padding: 2px 3.5px 4px;
  color: #2e8cbf;
  &:hover {
    background-color: rgba(0, 0, 0, 0.03);
  }
}

input:not([type]), input[type=text], input[type=password] {
  height: 24px;
  padding: 4px;
  font-size: 16px;
}

input.heading-input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  height: 36px;
}

input[type=checkbox], input[type=radio] {
  height: 18px;
  width: 18px;
  position: relative;
  top: 2px;
}

select {
  padding: 6px 2px 8px;
  font-size: 14px;
}

//code editor styles here
.editor.monaco-editor {
  max-width: 90% !important;
  overflow-x: hidden;
}

// scrollbar styles
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.4);
  border-radius: 10rem;
  border: 1px solid #fff;
}


::-webkit-scrollbar-track-piece:start {
  background: transparent;
}

::-webkit-scrollbar-track-piece:end {
  background: transparent;
}

// custom classes
.quiz-card {
  border-radius: 7px;
  padding: 10px;
  outline: 1px solid #2e8cbf;
  margin-bottom: 8px;
  .quiz-actions {
    display: flex;
    align-items: center;
    margin-top: 10px;
    & > button:not(:first-of-type) {
      margin-left: 7px;
    }
  }
}

// date-picker styles
.datetime-picker {
  position: relative;
  & > .dt-display {
    position: absolute;
    height: 100%;
  }
  & > input[type=datetime-local] {
    border: none;
  }
}

// Froala RTE styles
.fr-second-toolbar {
  display: none;
}

.fr-wrapper {
  border-radius: 0 0 10px 10px;
  overflow-y: auto;
  height: 250px;
}

.fr-element {
  padding: 8px !important;
  & p {
    margin: 0;
  }
}

.fr-second-toolbar + .fr-popup.fr-active {
  top: 48px !important;
}

.fr-emoticon {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 20px !important;
  display: inline-block !important;
}
